obj/
bin/Release/Protected/Black Ops II Sound Studio.exe
bin/Release/Protected/
bin/Debug/Identifiers/
bin/Debug/MLibrary.pdb
bin/Debug/flac.exe
bin/Debug/Black Ops II Sound Studio.vshost.exe.config
bin/Debug/Black Ops II Sound Studio.vshost.exe
bin/Debug/Black Ops II Sound Studio.pdb
bin/Debug/Black Ops II Sound Studio.exe.config
bin/Debug/Black Ops II Sound Studio.exe
Black Ops II Sound Studio.csproj.DotSettings
